.header{
    background-image: url(/image/phone.jpg);
    background-attachment: fixed; /*Делает фоновое изображение элемента неподвижным.*/
    background-position: center;
    background-size: cover;
    height: 900px;    
    position: relative;
}
.header h1{
    color:#f93700;
}
    
.overlay{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background: rgba(244,244,244,0.79);  
}
.desc{
    position: absolute ;
    top: 30%;
    padding: 10%;
}
.about{
    position: relative;
    padding: 1em;
    margin: 4em 0;
}
.about h1{
    color: #f93700;
}
.about span{
    display: block;
    position: absolute;
    color: #10828C;
    left: 9em ;
    
}
.about .about-me{    
    padding: 2em;
    border-left: 4px solid aqua;
}
.about .about-me h3{
    color: #10828C;
}
.about img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.about .about-me p{
    color: #888;
    line-height: 2em;
}
.about #div-img{
    margin-bottom: 2em;
}
.portfolio{
    position: relative;
}

.portfolio img{
     margin:1em;
     width: 100%;
}
.portfolio h1{
    color: #f93700;
}
.blog{
    position: relative;
    margin:4em;
    padding: 2em;
}
.blog h1{
    color: #f93700;
}
.blog .card{
    box-shadow: 0 0 20px;
    padding: 1em;
}
.blog .card img{
    width: 100%;
}
.blog .card:hover{
    background: #f93700; 
    cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.blog .card .card-title{
    font-family: 'Comfortaa', cursive;
}
.contact-form{
    position: relative;
    margin: 4em;
    padding: 2em;
}
.contact-form h1{
    color: #f93700;
    padding: 2em 1px;
}
.contact-form .right .btn-primary{
    background-color: #f93700;;
}
.contact-form .right{
    max-width: 600px;
}